<footer class="main_footer">
		<div class="container">
			<div class="footer_wrapper">
				<div class="col-md-12">
					<div class="footer-info">
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Our Team</a> </li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Jobs</a></li>
							<li><%=link_to "Terms of Service" ,terms_path%></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Acceptable Use Policiy</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-">
					
				</div>
			</div>
		</div>
		<div class="container">
			<div class="copyright">
				<div class="col-md-12">
					<div class="copyright-info">
						<h1>Copyright 2016 © Nodelogics LLC. All rights reserved. </h1>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer_bar">
	</div>
