<footer class="main_footer">
		<div class="container">
			<div class="footer_wrapper">
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Company</h3>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Our Team</a> </li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Products</h3>
						<ul>
							<li><a href="#">Virtual Servers</a></li>
							<li><a href="#">Shared-Hosting</a> </li>
							<li><a href="#">Cloud backup</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Support</h3>
						<ul>
							<li><a href="#">Help</a></li>
							<li><a href="http://bit.ly/2cnaqE1">Knowledgebase</a> </li>
							<li><a href="#">Contact Support</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Opportunity</h3>
						<ul>
							<li><a href="#">Became a Reseller</a></li>
							<li><a href="#">Bulk pricing</a> </li>
							<li><a href="#">Business Inquiries</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Network</h3>
						<ul>
							<li><a href="http://bit.ly/2dkIA0k">Network Status</a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-2">
					<div class="footer-info">
						<h3>Miscellanous</h3>
						<ul>
							<li><a href="#">Order Hosting</a></li>
							<li><a href="#">Make a Payment</a> </li>
							<li><a href="#"></a></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div class="container">
			<div class="copyright">
				<div class="col-md-6">
					<div class="copyright-info">
						<h1>Copyright 2016 © Nodelogics LLC. All rights reserved. </h1>
			            <h5>Nodelogics is a registered trademark of Nodelogics Services LLC.</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="copyright-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer_bar">
	</div>
