<section class="header">
		<div class="container">
			<div class="header-wrapper">
				<div class="col-md-1">
					<a href="/"><%= image_tag ('logo.png'), class:"logo" %></a>
				</div>
				<div class="col-md-8">
					<div class="nav_bar">
						<ul>
							<li><a href="#">features</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="http://bit.ly/2dfj0JM"> Pro Hosting</a></li>
							<li><a href="http://bit.ly/2cqgrDi">Cloud</a></li>
							<li><a href="#">Backup</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="login_menu">
						<ul>
                            
							<li><a  class="btn btn-simple" href="http://bit.ly/2cA2Qqs">Log in</a></li>
							<li><a  class="btn btn-primary" href="#">sign up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
