<div class="overhead">
	
</div>
<section class="header">


	<div class="container">

		<div class="header-wrapper">
			<div class="col-md-1">
				<a href="/"><%= image_tag ('logo.png'), class:"logo" %></a>
			</div>
			<div class="col-md-8">
				<div class="nav_bar">
					<ul>
						<!--<li><a href="#">features</a></li>-->
						<li><%= link_to "Pricing", :anchor => "#pricing" %></li>
						<li><%= link_to "Hosting",hosting_path %></li>
						<!--<li><a href="http://bit.ly/2cUuHF4"></a></li>-->
						<li><a href="#">Backup</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="login_menu">
					<ul>
                        
						<li><%= link_to "Control Panel",login_path,:class=>"btn btn-simple"%></li>
						<!--<li><a  class="btn btn-primary" href="http://bit.ly/2d4p3Pt">sign up</a></li>-->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
