<section class="header">
	<div class="container">
		<div class="header-wrapper">
			<div class="col-md-1">
				<a href="/"><%= image_tag ('logo_v7.png'), class:"logo" %></a>
			</div>
			<div class="col-md-15">
				<div class="nav_bar">
					<ul class="fr">
						<li><%=link_to 'About us',about_path %></li>
						<li><%=link_to 'Faq',faq_path%>
						<li><%=link_to 'status',posts_path%>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
