<section class="acceptable">
	<div class="container">
		<div class="main_accpetable">
			<p>Illegal Use

BudgetVM services may not be used for illegal purposes, or in support of illegal activities. BudgetVM reserves the right to cooperate with legal authorities and/or injured third parties in the investigation of any suspected crime or civil wrongdoing.
Threats, Harassment, and Collection of Personal Data

BudgetVM services may not be used to transmit or originate any material that harasses or threatens, encourages bodily harm, or destruction of property. Use of the BudgetVM service to collect, or attempt to collect, personal information about third parties without their knowledge or consent is prohibited.
Forgery, Impersonation, and Fraud

Adding, removing, or modifying identifying network header information in an effort to deceive or mislead is prohibited. Attempting to impersonate any person by using forged headers or other identifying information is prohibited. Use of the BudgetVM service to make fraudulent offers to sell or buy products, items, or services, or to advance any type of financial scam such as "pyramid schemes" and "chain letters" is prohibited.
Network Disruptions, Unauthorized Access, and Malicious Software

Use of the BudgetVM service for any activity which affects the ability of other people or systems to use BudgetVM Services or the Internet is prohibited. This includes "Denial of Service" (DoS) attacks against another network host or individual user. Interference with or disruption of other network users, services or equipment is prohibited. It is the Member's responsibility to ensure that their network is configured in a secure manner. A Subscriber may not, through action or inaction, allow others to use their network for illegal or inacceptable actions. A Subscriber may not permit their network, through action or inaction, to be configured in such a way that gives a third party the capability to use their network in an illegal or inacceptable manner. Unauthorized entry and/or use of another company and/or individual's computer system will result in immediate account termination. BudgetVM will not tolerate any subscriber attempting to access the accounts of others, or penetrate security measures of other systems, whether or not the intrusion results in corruption or loss of data.

Use of the BudgetVM service to access, or to attempt to access, the accounts of others, or to penetrate, or attempt to penetrate, security measures of BudgetVM or another entity's computer software or hardware, electronic communications system, or telecommunications system, whether or not the intrusion results in the corruption or loss of data, is expressly prohibited and the offending BudgetVM account is subject to immediate termination.

Intentional distributions of software that attempts to and/or causes damage, harassment, or annoyance to persons, data, and/or computer systems are prohibited. Such an offense will result in the immediate termination of the offending account.
Infringement of Copyright, Patent, Trademark, Trade Secret, or Intellectual Property Right

The use of services provided by BudgetVM to transmit any material (by e-mail, uploading, posting or otherwise) that infringes any copyright, trademark, patent, trade secret or other proprietary rights of any third party, including, but not limited to, the unauthorized copying of copyrighted material, the digitization and distribution of photographs from magazines, books, or other copyrighted sources, and the unauthorized transmittal of copyrighted software is prohibited.
Usenet Spaming

BudgetVM has a zero tolerance policy for the use of its network for the posting of messages or commercial advertisements, which violate the rules, regulations, FAQ or charter of any newsgroups or mailing list. Commercial messages that are acceptable under the rules of a newsgroup or mailing list or that are solicited by the recipients are permitted.
Unsolicited e-mail and e-mail Misuse

Use of the services of BudgetVM to transmit any unsolicited commercial or unsolicited bulk e-mail is expressly prohibited. Violations of this type may result in the immediate termination of the offending customer's account without warning or reimbursement.

Legitimate uses of bulk email in a manner consistent with United States law may be permitted at the sole discretion of BudgetVM. BudgetVM's abuse resolution policy is to serve all abuse complaints via our ticket system at https://www.budgetvm.com/account and assure that they are handled professionally. Accounts generating complaints from recognized blacklist databases will incur a one-time administrative fee of $35 per complaint and are expected to resolve these issues themselves. In the event of a Spamhaus or Outblaze blacklist listing, an additional $350 administrative fee will be issued along with immediate termination. Should a contract be involved, the client must immediately pay the remainder of the balance owed between the current date and the end of the term per the original agreement.

Malicious intent to impede another person's use of electronic mail services or news will result in the immediate termination of the offending BudgetVM account. Forging any message header, in part or whole, of any electronic transmission, originating or passing through the BudgetVM service is in violation of this AUP.

Bulk Email on VPS

Use of BudgetVM VPS services for the orgination, relay, or support of bulk email is prohibited. Customers are permitted to send transactional emails and use the service for individual email accounts, but the service may not be used for sending commercial email, even if the customer has opted in to such emails. Sending marketing email in any sort of automated fashion is specifically prohibited.
"SEO IPs" Appropriate Use


BudgetVM makes available, for an additional fee, "SEO" IPs. SEO IPs are normal IPs that have been assigned from a variety of /24 net blocks (colloquially called "class c" blocks.) These IPs are provided exclusively for hosting SSL-enabled web sites. All other technical uses are prohibited, including but not limited to: email, VPN, proxy, SSH tunnelling, GRE tunnelling, filesharing, TOR, and IRC. BudgetVM has a zero-tolerance policy on abuse on these IPs and any abuse whatsoever will result in immediate termination without refund. Please secure your VPS adequately.
Internet Relay Chat

IRC is allowed on BudgetVM's network. If you are planning running an IRC server, please notify our staff at signup as these machines require special attention. As with any of our servers, illegal activity is not permitted on IRC, and BudgetVM will reserve the right to terminate accounts without refund if it appears such activity is being conducted. BudgetVM reserves the right to determine if or if not there is illegal activity being conducted in such an instance.
Pornographic Material

Adult content is allowed, contingent upon compliance with all U.S. regulations, as well as the regulations of the location of the customer's residency. What sexual content is acceptable on our servers will remain at the sole discretion of BudgetVM, and no other parties.
Third Party Accountability

BudgetVM subscribers will be held responsible and accountable for any activity by third parties, using their account, that violates guidelines created within the Acceptable Use Policy.
Use of Servers for Bandwidth Intensive Purposes

Using the server plans to host a content delivery network or content distribution network is not permitted without prior authorization. Using server plans to host applications that produce artificially high bandwidth usage patterns (including, but not limited to software such as SETI@Home and Folding@Home, digital currency mining, and public software mirrors is prohibited without the prior consent of BudgetVM. Please contact sales (at) budgetvm (dot) com before signing up. Failure to contact BudgetVM may result in your server being rate-limited or turned off.</p>
		</div>
	</div>
</section>