<section class="mid-hosting">
		<div class="container">
			<div class="hosting-info">
			   <h1>Earn Money With
			   	<br>
			   	Reseller Hosting!</h1>
			   <h3>Reseller plans are designed for
			   	<br>
                   you to earn money!                    
			   	</h3>
			   <div class="btn-big_wrapper">
			       <a class="btn btn-primary btn-big" href="#">Became a Reseller</a>
			   </div>
			</div>
		</div>
		<%= image_tag ('hosting-bg.png'),:class =>'hosting-bg'%>
    <!--<img src="img/hosting-bg.png" class="hosting-bg" alt="women smiling">-->
</section>
	<section class="product ">
		<div class="container">
			<div class="features move_down">
				<h1>START YOUR OWN WEB HOSTING COMPANY</h1>
				<h3>Simple. Powerful. Reliable.</h3>
				<div class="wrapper">
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
							    <%= image_tag ('webhosting.png')%>
							</div>
							<h3>Hosting Your Own Clients!<h3>
						    <p>Our reseller plan is a great way for you to earn money on the side, or even become your own full-time web hosting company. Acquire your own hosting clients.</p>
						    <a href=""></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
								<%= image_tag ('tools.png')%>
							</div>
							<h3>Powerful Tools<h3>
						    <p>Nodelogics reseller plans include everything you need to succeed, from WHM to billing software.
						    you are free to market and grow your business in any way that you choose.</p>
						    <a href=""></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list">
							<div class="feature-img">
								<%= image_tag ('scability.png')%>
							</div>
							<h3>Flexibility and Scability<h3>
						    <p>You control the overall resource allocation to best fit your clients' needs.
						    It is always free and easy to upgrade; your hosting grows as your business grows.
						    </p>
						    <a href=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<dir class="separator">
		
	</dir>
	<section class="pricing">
		<div class="container">
			<div class="price-list">
				<h3>Straightforward 
				<br>
				Flat rate Pricing</h3>
				<h6>Pricing in USD. Excludes any applicable tax.</h6>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Bronze</h1>
						<p><span>$19</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>60GB <span>HD</span></li>
								<li>600GB <span>Bandwith</span></li>
							</ul>
						</div>
						<div class="promotion">
						    <h3 class="promo">Now 15%<span>off!</span></h3>
						</div>
						<div class='order_btn'>
							<a href="#" class="btn btn-primary ">Order</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Gold</h1>
						<p><span>$25</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>90GB <span>HD</span></li>
								<li>900GB <span>Bandwith</span></li>
							</ul>
							
						</div>
						<div class="promotion">
					       <h3 class="promo">Now 25%<span>off!</span></h3>
					    </div>
						<div class='order_btn'>
							<a href="#" class="btn btn-primary ">Order</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Platinum</h1>
						<p><span>$35</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>150GB <span>HD</span></li>
								<li>1.5TB <span>Bandwith</span></li>
							</ul>
						</div>
						<div class="promotion">
					       <h3 class="promo">Now 30%<span>off!</span></h3>
					    </div>
						<div class='order_btn'>
							<a href="#" class="btn btn-primary ">Order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<div class="contact-info">
				Need help?&nbsp;
                Contact our award-winning support team 24/7 &nbsp;
                <!--<span class="support-phone">1.888.773.5252</span>-->
			</div>
		</div>
	</section>
