<section>
	<div class="container">
		<div class="show-post-wrapper">
			<div class='post-wrapper'>
				<h2>Edit Post</h2>
				<%= render "posts/form" %>					      
		    </div>			
		</div>
	</div>
</section>