<section>
	<div class="container">
		<div class="show-post-wrapper">
			<div class='post-wrapper'>
			<h3>Publish New Blog Post</h3>
				<%= render "posts/form" %>					      
		    </div>			
		</div>
	</div>
</section>

