.blog-posts{
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}
.post-wrapper{
	width: 960px;
	position: relative;
	top:40px;
	margin:0 auto 60px;
}

.post-wrapper h3{
    color:#444;
	font-family: 'varela round', sans-serif;
	font-size:28px;
    text-align:center

}

.post-wrapper h5{
	color:#1ABC9C;
	font-family: 'varela round', sans-serif;
	font-size:14px;
    text-align:left;
}

.show-post-wrapper{
	position: relative;
	top:-45px;
}

.new-post{
	margin-top: 50px;
}
.new-post a{
	float: right;
}

.post-title h2{
	font-size: 32px;
	font-family: 'varela round', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color:#1ABC9C;
}

.post-separator{
	width: 150px;
	height: 3px;
	background-color: #5CC9DF;
	margin:0 auto;
	position: relative;
	top:-20px;
}

.post-body{
	position: relative;
    top:-20px;
}

.post-body p{
    font-size:18px;
	font-family: 'varela round', sans-serif;
	line-height: 120%;
	text-align: justify ;
	color:#35497D;
    
}

.more{
	position: relative;
	top:-25px;
}

.post-body p a{
	font-size:18px;
	font-family: 'varela round', sans-serif;
	color:#1ABC9C;
    letter-spacing: 1px; 
    text-decoration: none !important;  
}

.post-body p a:hover{
	color:#35497D !important;
}

.new-post a{
	color:#fff;
	font-family: 'varela round', sans-serif;
	text-decoration: none !important;
	font-size:18px;
}

.new-post a:hover{
	color:#35497D !important
}

